<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Table</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
.users {
    margin-top: 5%;
    text-align: center;
}

body {
    margin-left: 15%;
    margin-right: 15%;
}
</style>
<body>
    <table class="users table table-striped table-bordered table-hover shadow p-3 mb-5 bg-white rounded">
        <thead class="thead-dark">
            <tr class="font-weight-bold">
                <th class="text-warning">First Name</th>
                <th class="text-warning">Last Name</th>
                <th class="text-warning">Full Name</th>
            </tr>
        </thead>
            {% for x in list_1: %}
                <tr class="font-weight-bold">
                {% for k in x: %}
                    <td>{% print(x[k]) %}</td>
                {% endfor %}
                    <td>{% print(" ".join(x.values()) ) %}</td>
                </tr>
            {% endfor %}
    </table>
</body>
</html>