<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
</head>
<body>
    <div class="container text-center" style="margin-top: 5%">
    <h1 style="margin-bottom: 20px;">Counter</h1>
    <p style="font-size: 20pt; font-weight: bold;">{{ session['visits'] }}</p>
    <a href="/counter_session" class="btn btn-success" >Add +2 to Count!</a>
    <a href="/delete_session" class="btn btn-danger">Reset</a>
    </div>
</body>
</html>