<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOSER</title>
</head>
<body>
    <h1><a href="https://www.youtube.com/watch?v=SzgG94Tz2Ak">CLICK HERE FOR GUIDE!</a></h1>
    <h3>YOU'RE A FUCKING LOSER!! <br> YOU EFEMME SOFT-PENIS <br> DEBUTANTE!  IF YOU WANT TO START <br>A STREETFIGHT WITH ME, BRING IT ON! YOU WILL BE SURPRISED <br>WITH HOW UGLY IT GETS... YOU DONT EVEN KNOW MY REAL NAME</h3>
    <h1>I AM THE FUCKING LIZARD KING <br><br><br><br><br> </h1>
    <a href="/restart">wanna try again?</a>
</body>
</html>