<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
</head>

<body>
    <div class="hContainer" style="--background-color: {{ color1 }};">
    <h1 style="--color: {{ color }};">***Checkerboard***</h1>
    </div>

    {% for x in range (0, row) %}
    <div class="container" style="display: flex; justify-content: center;">
        {% if x%2 == 0 %}

            {% for i in range (0, times) %}

                {% if i %2 == 0%}
                    <div class="boxOne" style="--color: {{ color }};"></div>

                {% else %}
                    <div class="boxTwo" style="--color1: {{ color1 }};"></div>
                {% endif %}
            {% endfor %}

        {% endif %}

        {% if x%2 != 0 %}

            {% for i in range(0, times): %}

                {% if i %2 == 0%}
                    <div class="boxTwo" style="--color1: {{ color1 }};"></div>

                {% else %}
                    <div class="boxOne" style="--color: {{ color }};"></div>
                {% endif %}
            {% endfor %}

        {% endif %}

    </div>
    {% endfor %}
</body>
</html>